body {
    background-color: rgb(94, 247, 81);
}


* {
    text-align: center;
}
.button {
    background-color: rgb(66, 159, 196);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    padding: 1em 2em;
    width: 150px;
}

.lyrics {
    font-family: 'Gugi', cursive;
    color: rgb(66, 159, 196);
}

h3 {
    font-family: 'Gugi', cursive;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dashed;
}










